# AVISO: Isso é apenas um exemplo de utilização de banco de dados com Python, boas práticas não foram respeitadas

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [10]:
e = create_engine(
    "mysql+pymysql://crawler:crawler@localhost/loja?charset=utf8mb4")

In [12]:
create_table_sql = """
CREATE TABLE orders (
    id   INT,
    customer_id INT,
    payment_option VARCHAR(50),
    delivery_address_id INT,
    payment_address_id INT,
    value FLOAT
)
"""

In [ ]:
# Create table
with e.connect() as con:
    rows = con.execute(text(create_table_sql))

In [26]:
sample_data_sql = [
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (1,1,'cc',1,1,100.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (2,2,'cc',2,2,50.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (3,2,'cc',2,2,200.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (4,3,'cc',3,3,32.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (5,4,'cc',4,4,42.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (6,5,'cc',5,5,80.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (7,1,'cc',1,1,30.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (8,6,'cc',6,6,20.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (9,1,'cc',1,1,20.0);",
    "INSERT INTO orders (id, customer_id, payment_option, delivery_address_id, payment_address_id, value) VALUES (10,2,'cc',2,2,123.32);"
]

In [27]:
# Load some data
with e.connect() as con:
    for sql in sample_data_sql:
        con.execute(text(sql))

In [28]:
# Extract
with e.connect() as con:
    for row in con.execute(text('SELECT * FROM orders')):
        print(row)

(1, 1, 'cc', 1, 1, 100.0)
(2, 2, 'cc', 2, 2, 50.0)
(3, 2, 'cc', 2, 2, 200.0)
(4, 3, 'cc', 3, 3, 32.0)
(5, 4, 'cc', 4, 4, 42.0)
(6, 5, 'cc', 5, 5, 80.0)
(7, 1, 'cc', 1, 1, 30.0)
(8, 6, 'cc', 6, 6, 20.0)
(9, 1, 'cc', 1, 1, 20.0)
(10, 2, 'cc', 2, 2, 123.32)